*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pink:#e5345b;
}
.bg-primary{
    background-color: var(--pink) !important;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0,0,0,0.2);
}
.navbar-brand img{
    width: 100px;
}
.navbar-brand span{
    letter-spacing: 2px;
}
.nav-link:hover{
    background-color: var(--pink);
}
.nav-item{
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
@media (max-width:992px) {
.nav-item{
    border-bottom: none;
}    
}